
@{
    ViewBag.Title = "GoDelete";
}

<h2>GoDelete</h2>
<form method="post" action="/ArticleForm/Delete">

    <label>id</label><input type="number" name="id" /><br />



    <button type="submit">Insert</button>
</form>
