
@{
    ViewBag.Title = "GoInsertUpdate";
}

<h2>GoInsertUpdate</h2>

<form method="post" action="/ArticleForm/DoInsertUpdate">

    <label>id</label><input type="number" name="id" /><br />
    <label>marque</label><input type="text" name="marque" /><br />
    <label>prix</label><input type="text" name="prix" /><br />


    <button type="submit">Insert</button>
</form>