
@{
    ViewBag.Title = "Action1";
}

<h2>Action1</h2>
<form method="post" action="/Form/Action2">
    <label>ref</label><input type="number" name="id" />
    <label>marque</label><input type="text" name="marque" />
    <label>prix</label><input type="number" name="prix" />
    <button id="btnOk" type="submit">Click</button>
</form>
